*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: url("./image/back.jpg"); */
   
}
body{
    background-image: url("./image/back.jpg");
    background-repeat: no-repeat;
    background-size: 100% 720px; 
}
.container{
    width: 500px;
    height: 450px;
    background-color: rgba(44, 62, 80, 0.7);
   border-radius: 4.5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 160px;
}
.container img{
    width: 150px;
    height: 150px;
    text-align: center;
    margin-top: -60px;
    /* margin-right: 30px; */
}
.wrapper{
    margin: 0 auto;
    margin-top: 50px;
   
  
}
.btn-signup{
    background-color: rgb(18, 40, 161);
    height: 35px;
    width: 150px;
    font-size: medium;
    border-radius: 5px;
    border-style: none;
    color: gainsboro;
    cursor: pointer;
    margin-top: 10px;
}

.btn-signin{
    background-color: rgb(18, 40, 161);
    height: 35px;
    width: 150px;
    font-size: medium;
    border-radius: 5px;
    border-style: none;
    color: gainsboro;
    cursor: pointer;
    margin-top: 25px;
}

.details{
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 35px;
    width: 250px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-style: none;
    font-size: medium;
}